# Created by https://www.gitignore.io/api/c++,cmake

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# End of https://www.gitignore.io/api/c++,cmake

# my mess:

*.pyc
*.o
*.so
*.dylib
.cache
.tags*
.hypothesis
.idea
.eggs
build*/
.DS_Store
_build/
docs/_generate
*.sxm
*.sxhn
*.sublime-workspace
.clang_complete
log/subl_build.log
.tox
dist
_build
.build
docs/html
docs/latex
.coverage
deps
rif.egg-info
log/*.log
.ERROR
._*
*.log
\#*\#
*~
.autoxsh
