*.pyc
*.o
*.so
*.dylib
.cache
.tags*
.hypothesis
.idea
.eggs
build/
.DS_Store
_build/
docs/_generate
*.sxm
*.sxhn
*.sublime-workspace
.clang_complete
build_*/
log/subl_build.log
.tox
dist
_build
.build
docs/html
docs/latex
.coverage
deps
