*.pyc
*.o
*.so
*.dylib
.cache
.tags*
.hypothesis
.idea
.eggs
build/
build_setup_py*
.DS_Store
_build/
docs/_generate
*.sxm
*.sxhn
*.sublime-workspace
.clang_complete
build_manual
log/subl_build.log
.tox
dist
_build
.build
docs/html
docs/latex
