numpy
scipy
pandas
xarray
dask
pyyaml
jinja2
seaborn
matplotlib
parsimonious
pytest
pytest-cov
pytest-sugar
pytest-xdist
-e external/hacked_packages/pytest-cpp-0.4
mock
hypothesis
sphinx
breathe
sphinx_rtd_theme
sphinxcontrib-napoleon
tqdm
homog
