PyYAML
colorama
future
hypothesis
jinja2
numpy
pandas
xarray
pytest
pytest-cov
pytest-sugar
pytest-xdist
sphinx
breathe
sphinx_rtd_theme
mock
backports.functools_lru_cache
-e external/hacked_packages/pytest-cpp-0.4
