#include <pybind11/pybind11.h>

namespace py = pybind11;

{{forward}}


PYBIND11_PLUGIN(rif_cpp) {
    py::module rif("rif_cpp", R"pbdoc(
        docstring in rif.gen.cpp, compiled on {{mydate}}

        rif_cpp docs
        ------------

        py\:currentmodule is:

        .. py:currentmodule:: rif_cpp

        autosummary is:

        .. autosummary::
           :toctree: _generate

    )pbdoc");

{{code}}

#ifdef VERSION_INFO
    rif.attr("__version__") = py::str(VERSION_INFO);
#else
    rif.attr("__version__") = py::str("dev");
#endif

    return rif.ptr();

}
