#include <pybind11/pybind11.h>

namespace py = pybind11;

{{forward}}


PYBIND11_PLUGIN(_rif) {
    py::module rif("_rif", R"pbdoc(
        docstring in _rif.gen.cpp, **compiled on {{mydate}}**

        _rif docs
        ------------

        py\:currentmodule is:

        .. py:currentmodule:: _rif

        autosummary is:

        .. autosummary::
           :toctree: _generate

    )pbdoc");

{{code}}

// #ifdef VERSION_INFO
//     rif.attr("__version__") = py::str(VERSION_INFO);
// #else
//     rif.attr("__version__") = py::str("dev");
// #endif

    return rif.ptr();

}
