#include <pybind11/pybind11.h>

namespace py = pybind11;

{{forward}}

PYBIND11_PLUGIN(riflib_cpp) {
    py::module riflib("riflib_cpp", R"pbdoc(
        riflib docs
        -----------------------

        .. currentmodule:: riflib

        .. autosummary::
           :toctree: _generate

    )pbdoc");

{{code}}

#ifdef VERSION_INFO
    riflib.attr("__version__") = py::str(VERSION_INFO);
#else
    riflib.attr("__version__") = py::str("dev");
#endif

    return riflib.ptr();

}
